<div>Real time product</div>
{{!-- pintar todos los productos --}}
<div id="listProducts"></div>
{{!-- mandar productos al servidor - api rest - socket emit--}}

<form id="form-product" >
    <input type="text" name="title" placeholder="nombre del producto">
    <input type="text" name="description" placeholder="descripción del producto">
    <input type="number" name="price" placeholder="precio del producto">
    <input type="number" name="stock" placeholder="stock del producto">
    <input type="text" name="code" placeholder="código del producto">
    <input type="submit" >
</form>





<script src="/socket.io/socket.io.js"></script>
<script>
    console.log('real')
const socket = io()

socket.on('products', dataProducts => {
    console.log(dataProducts)
})

const formProduct = document.querySelector('#form-product')

const handleOnSubmit = evt => {
    evt.preventDefault()

    socket.emit('addProduct', {
        title: formProduct.elements.title.value,
        description: formProduct.elements.description.value,
        stock: formProduct.elements.stock.value,
        price: formProduct.elements.price.value,
        code: formProduct.elements.code.value
    })
    formProduct.reset()
}

formProduct.addEventListener('submit', handleOnSubmit)
</script>