<center>
    <form action="/sessions/recovery" method="POST">
        <label for="email">Ingresa tu correo</label>
        <input type="text" id="email" placeholder="email">
        <button id="forgotPasswordButton">Recuperar contraseña</button>
    </form>
    <span id="lblRecuperacion"></span> <!-- Agregado para mostrar el mensaje de recuperación -->
</center>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const forgotPasswordButton = document.getElementById("forgotPasswordButton");
        const lblRecuperacion = document.getElementById("lblRecuperacion");

        forgotPasswordButton.addEventListener("click", async function (event) {
            event.preventDefault();
            const email = document.getElementById("email").value;

            const responsePass = await fetch("/sessions/recovery", {
                method: "POST",
                body: JSON.stringify({ email }),
                headers: {
                    "Content-Type": "application/json",
                },
            });

            if (responsePass.ok) {
                const result = await responsePass.text();
                lblRecuperacion.textContent = result;
            } else {
                const result = await responsePass.text();
                lblRecuperacion.textContent = result;
            }
        });
    });
</script>
