
    <form id="registerForm"class="register-form" >
    <h1>Registrar usuario</h1>
        <label>Nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input name="password">
        <button onclick="registerUser(event)">Enviar</button>
    </form>

<script>
    function registerUser(event) {
        event.preventDefault();
        
        const form = document.getElementById('registerForm');
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        
        fetch('/sessions/register', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(result => {
            if (result.error) {
                // Show failed alert
                Swal.fire('Failed', 'El correo ingresado ya está en uso', 'error');
            } else {
                // Show success alert
                Swal.fire('Éxito', 'Usuario registrado exitosamente', 'success');
            }
        })
        .catch(error => {
            // Show failed alert
            Swal.fire('Failed', 'No se pudo crear el usuario', 'error');
        });
    }
</script>
