<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{{title}}}</title>
</head>
<header>
<nav class="navbar">
    <div class="logo">
        <h2>LOGO</h2>
    </div>

    <div class="navbar-links">
       
  
   <a href="/catalog">Catalogo</a>
   <a href="/api/users">users</a>
   <a href="#">Logout</a>  
   <a href="/">Inicio</a>
   <a href="/login">Login</a>
   <a href="/register">Registrarse</a>


    </div>
</nav>
</header>

       

<body class="cuerpo">
    {{{body}}}



     
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="socket.io/socket.io.js " ></script>
<script src="js/test.js" ></script>

</body>
</html>